.productCard {
    display: grid;
    grid-template-columns: repeat(3);
    gap: 10;
    grid-auto-rows: minmax(200px, auto);
  
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    image-rendering: auto;
    size: 100px;
    
    
}

.ProductWindow {
    display: flex;
    grid-template-columns: repeat(3);
    gap: 10;
    grid-auto-rows: minmax(200px, auto);
   
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    
}

