/* * {
  border: #00ff6e 1px solid;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-content: center;
  font-size: medium;
  background-color: rgb(226, 192, 148);
} */

/* .products {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.btn-primary {
  background-color: #40acff;
  color: #282c34;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4vh;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-style: oblique;
  background-color: rgb(226, 192, 148);
  padding: 0;
  border: 5px black;
}

.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 10vh;
  background-color: rgb(226, 192, 148);
  border: 5px black;
}

.SearchBar__input {
  width: 50%;
  height: 5vh;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  padding: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
}

.SearchBar_result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
  overflow: hidden;
  overflow-y: auto;
}

.SearchBar_result::-webkit-scrollbar {
  display: none;
}

.SearchBar_result_link {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  margin-left: 10px;
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}