.NavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-style: oblique;
    background-color: rgb(226, 192, 148);
    border: 5px black;
}